{% extends 'main/base.html' %}
{% block content %}

<div class="container-fluid w-50 p-3 mt-5 border border-white rounded-3">
  <h2>Поиск карты</h2>
    
  <form method="post">
  {% csrf_token %}
    <div class="input-group mb-2 mt-3">
      {{ form.text }}
      <button class="btn btn-outline-light" type="submit">Найти</button>
      <span>{{error}}</span>
    </div>
  </form>

  <div class="button-group">
    <a class="btn btn-outline-light btn-sm" type="button" href="{% url 'advanced' %}">Расширенный поиск</a>
    <a class="btn btn-outline-light btn-sm" type="button" href="{% url 'random' %}">Случайная карта</a>
    <a class="btn btn-outline-light btn-sm" type="button" href="{% url 'collection' %}">Вся коллекция</a>
  </div>
</div>

{% endblock %}